@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0px;
    background-color: #f7efe0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #790909;
    color: white;
    padding: 1rem 2rem;
}

.container-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-lista {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.link-menu {
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}

.link-menu:hover {
    color: #c99a1b;
}

.logotipo img {
    height: 100%;
    max-height: 100px;
    width: auto;
    display: block;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/palco.jpg');
    background-size: cover;
    background-position: center;
    min-height: 85vh;
    padding: 0px 40px;
    display: flex;
    align-items: center;
}

.nome-identidade {
    font-size: 30px;
    font-weight: bold;
    color: #c99a1b;
}

.hero .manchete{
  color: #ffffff;  
}

.hero .informacao-texto {
    color: #ffffff;
    font-size: 18px;
}

span {
    color: #c99a1b;
}

.hero-container, .main-container {
    width: 100%;
}

.main .paragrafo {
    font-size: 35px;
    text-align: center;
}

.main .manchete {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    text-align: center;
}

.subtitulo-historia {
    font-size: 18px;
    text-align: center;
}

.historia .paragrafo {
    background-color: #790909;
    border-radius: 12px;
    padding: 25px;
    width: 1000px;
    margin: 20px auto;
    color: white;
    text-align: left;
    display: block;
}

.cards-historia {
    display: flex;
    margin-top: 30px;
}

.item-card {
    background-color: #c99a1b;
    padding: 25px;
    border-radius: 10px;
    flex: 1;
    border-top: 5px solid #790909;
    margin: 0px 10px;
}

.titulo-card {
    color: #0a0a0a;
    margin: 0px 0px 15px 0px;
}

.texto-card {
    font-size: 15px;
    margin: 0px;
}
 h2 {
    font-size: 35px;
    text-align: center;
    margin-top: 12vh;
 }

.livros {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.livro-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.livro-img img {
  width: 150px;
  height: 220px;
  object-fit: cover;
}